<?php

$config['debug'] = false;

$config['task_files_path'] = APPLICATION_PATH . DIRECTORY_SEPARATOR . 'tasks' . DIRECTORY_SEPARATOR;

$config['tasks'] = array(
	'your-md5-key' => array(
						'name' => 'Sample site',
						'sh_file' => 'sample.sh',
					  ),
);

